*{
    padding: 0;
    margin: 0;
    font-family: "Georgia", serif;
}

.login-body{
    max-width: 100vw;
    height: 100vh;

    background: url("https://github.com/ChrisTech-hub/LOANMANAGEMENT/blob/main/ChatGPT%20Image%20Jun%2011,%202026,%2001_28_13%20PM.png?raw=true");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 1;
    overflow: hidden;
    transition: all 0.3s ease;
}

.login-body.bodytransition{
    opacity: 0;
}

.navbar-aside{
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    backdrop-filter: blur(10px);
}

hr{
    width: 90%;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

.navbar-aside .logo{
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
}

.navbar-aside nav ul{
    list-style: none;
}
.navbar-aside nav ul li{
    width: 150px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    margin: 8px 0;

    color: rgba(0,0,0,0.5);

    gap: 20px;
    transition: background 0.8s ease;
}

.navbar-aside nav ul li.active{
    background: rgba(0, 4, 255, 0.2);
    color: rgba(0,0,0,0.8);

    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
}

.navbar-aside .nav-image{
    width: 20px;
    height: 20px;
    color: #000;
}

.header-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


header{
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 250px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);

    backdrop-filter: blur(10px);
}

header img{
    width: 20px;
    height: 20px;
}

header .search-container{
    position: absolute;
    width: 500px;
    left: 40px;
}

.search-container input{
    width: 100%;
    height: 25px;
    padding: 3px 0 3px 30px;
    border: 1px solid rgba(3, 3, 3, 0.5);
    border-radius: 10px;

    font-size: 14px;
}

.search-container input:focus{
    outline: #100ddb;;
}

.search-container img{
    position: absolute;
    left: 5px;
    top: 7px;
}

header .menu{
    position: fixed;
    color: rgba(0,0,0,0.8);
    right: 150px;
}

header .menu label{
    margin-right: 45px;
}

.menu label:hover{
    color:rgba(0, 0, 0, 0.3);
}

header .log-button{
    position: fixed;
    right: 30px;

    background: #0e1957bd;
    font-size: 16px;
    color: #fff;
    padding: 10px 25px;

    border: none;
    border-radius: 5px;
    transition: background 0.5s ease;
}

header #log-button:hover{
    background: #223ccebd;
}

.hero-section{
    width: calc(100vw - 260px);
    position: fixed;
    right: 0;
    top: 63px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(100vh - 60px);
}

.hero-section img{
    width: 700px;
    height: auto;
}

.web-details{
    width: 50%;
    height: 70%;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.web-details h1{
    text-align: center;
    font-size: 50px;
    color: #0a034b;
}

.web-details .p-details{
    text-align: center;
    font-style: oblique;
    margin-bottom: 60px;
}

.feature-span{
    width: 110%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;
}

.feature-span .features{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.features img{
    width: 30px;
    height: 30px;
}

.features h4{
    font-size: 14px;
}

.features p{
    font-size: 12x;
    font-weight: 100;
}

.web-details span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.web-details span img{
    width: 25px;
    height: 30px;
}


#alertNotif{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: linear-gradient(45deg, #ECF5FF, #fff);
    color: #FF0000;
    padding: 35px 45px;

    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    z-index: 2;
}

#verifier{
    font-size: 12px;
}

#loader{
    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding:  20px;
    border: none;
    border-radius: 10px;
    background: #ECF5FF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    gap: 10px;
}

.loader p{
    font-size: 10px;
}

#loader img{
    width: 45px;
    height: 45px;
}

#login-container{
    position: fixed;
    display: none;
    top: 0; right: 0; bottom: 0; left: 0;

    backdrop-filter: blur(3px);
    transition: all 0.3s ease;
    z-index: 2;
}

.login{
    position:  relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #ECF5FF;

    gap: 15px;
    transition: all 0.5s ease;
}

.transitions{
    transition: all 0.5s ease;
}

.login .fa-close{
    position: absolute;
    top: 10px; right: 10px;
    font-size: 26px;
}
.login .fa-close:hover{
    color: #FF0000;
}

.fa-unlock{
    display: none;
}

.login h1{
    font-size: 27px;
}

.login hr{
    border: 1px solid rgba(0,0,0,0.3);
    margin: 15px 0;
}

.login input{
    width: 100%;
    height: 20px;
    padding: 3px 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    background: transparent;
}

.login input:focus{
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,0.8);
}

.login input:focus + label{
    top: -15px;
    left: 0;

    color: rgb(0, 0, 0);
    font-size: 10px;
}

.login input:focus ~ label,
.login input:not(:placeholder-shown) ~ label {
    top: -15px;
    left: 0;

    color: rgb(0, 0, 0);
    font-size: 10px;
}

.login .username,
.login .password{
    width: 260px;
    position: relative;
    margin: 10px 0;
}

.login i{
    position: absolute;
    top: 3px;
    right: 2px;
    font-size: 18px;
}

.login label{
    position: absolute;
    top: 0;
    left: 0;
    color:rgba(0, 0, 0, 0.3);
    font-size: 16px;

    transition: all 0.3s ease;
}

.login button{
    width: 90%;
    height: 35px;

    border: none;
    border-radius: 5px;
    background:rgba(0, 4, 255, 0.8)
}

.login button:hover{
    background: rgba(0, 4, 255, 0.5);
}
